<div class="copyright">
  <a href='https://www.vmware.com/help/privacy.html'>Privacy Policy</a> |
  <a href='https://www.vmware.com/agreements.html'>Terms and Conditions</a><br/>
  <a href='/'>VMware Tanzu Documentation</a>
  &copy; <%= Time.now.year %> <a href='https://tanzu.vmware.com/tanzu'>VMware</a>, Inc. All Rights Reserved.
</div>
<div class="support">
  Need help? <a href="<%=vars.support_url%>" target="_blank">Visit Support</a>
</div>
