---
title: Architecture
owner: Pivotal Autoscaler and Scheduler
---

This topic describes the architecture of Pivotal Scheduler.

## <a id="topology"></a> HA Topology

In a highly available resource configuration, the Pivotal Scheduler service uses the following:

* Three Scheduler instances, each running the Scheduler HTTP API server and a Scheduler Engine.

* Three Scheduler Service Broker instances

You can reduce the number of Scheduler instances to one using the Cloud Foundry Command Line Interface (cf CLI).

## <a id="persitence"></a> Data Persistence

Scheduler relies on a MySQL datastore to persist data, including jobs, calls, and history. Each call or schedule can require up to 10 MB of database capacity to store history.
