---
title: Pivotal Scheduler 
owner: Pivotal Autoscaler and Scheduler
---
This documentation describes Pivotal Scheduler.

## <a id='overview'></a>Overview

Pivotal Scheduler is a service for scheduling the execution of Diego tasks, 
such as database migrations, emails, or batch jobs, as well as the execution of outbound HTTP calls.

Pivotal Scheduler enables developers to do the following:

* Create, run, and schedule jobs and view job history.
* Create, run, and schedule calls and view call history.

You can interact with the service through the Cloud Foundry Command Line Interface (cf CLI), 
[Apps Manager](https://docs.pivotal.io/pivotalcf/console/manage-apps.html#enable-scheduling), 
and the [Scheduler HTTP API](http://docs.pivotal.io/pcf-scheduler/1-1/api).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Pivotal Scheduler.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2.23</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 21, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.3.x or later</td>
    <tr>
        <td>Compatible Pivotal Application Service version(s) <sup>*</sup></td>
        <td>v2.3.x or later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Pivotal Scheduler requires a MySQL database.

You can use either of the following:

+ MySQL for Pivotal Platform v2.3 or later. See [MySQL for Pivotal Platform](http://docs.pivotal.io/p-mysql). 
+ An external MySQL database

## <a id="limitations"></a>Limitations

* If your app uses a buildpack that does not generate a `web` process type, 
such as Ruby or Python, you should do the following:
<br><br>
    1. Before pushing your app, create a 
    [Procfile](https://docs.pivotal.io/pivotalcf/buildpacks/prod-server.html#procfile) 
    in the root directory of the app.
    2. Declare a `web` process type in the file.

    If you do not declare this process type, your app will not be accessible through 
    the cf CLI after you create Scheduler jobs for it.

* The maximum number of tasks that you can schedule is determined by the memory 
and disk quotas in the Pivotal Scheduler org and space. 
For more information, see [Running Tasks](http://docs.pivotal.io/pivotalcf/devguide/using-tasks.html#manage-tasks).
