---
title: Scheduler for PCF (Beta)
owner: Pivotal
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }
    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong> 
The Scheduler for PCF tile is currently in Beta and is meant for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

This documentation describes the Scheduler for PCF Service Broker for Pivotal Cloud Foundry (PCF). 
The Scheduler for PCF Service Broker is exposed as a service in the PCF Marketplace.  Developers use the service to create and schedule jobs by creating and binding to instances of the standard service plan using Apps Manager or the cf CLI.

## <a id='overview'></a>Overview

Scheduler for PCF includes the following key feature:

* Create jobs to execute tasks (Diego Tasks).
* Execute jobs on an ad-hoc basis.
* Schedule jobs to execute on a recurring basis.
* View job status and history.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Scheduler for PCF details:</dt>
<dd><strong>Version</strong>: v1.0 </dd>
<dd><strong>Release date</strong>: April 14, 2017</dd>
<dd><strong>Software component version</strong>: v1.0.3</dd>
<dd><strong>Compatible Ops Manager version(s)</strong>: v1.9.x, v1.10.x</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: v1.9.x, v1.10.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id="reqs"></a>Requirements

Scheduler for PCF has the following requirements:

+ ERT 1.9 or 1.10
+ MySQL for PCF 1.8 or 1.9

## <a id="limitations"></a>Limitations

+ None

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the 
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [Support](mailto:support@pivotal.io).

## <a id='license'></a>License

**List any license information here.**
