---
title: Scheduler for PCF 
owner: PCF Autoscaler and Scheduler
---
This documentation describes Scheduler for Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

Scheduler for PCF is a service for scheduling the execution of Diego tasks, such as database migrations, emails, or batch jobs, as well as the execution of outbound HTTP calls.

Scheduler for PCF enables developers to do the following:

* Create, run, and schedule jobs and view job history.
* Create, run, and schedule calls and view call history.

You can interact with the service by using the Cloud Foundry Command Line Interface (cf CLI),
[Apps Manager](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/manage-apps.html#enable-scheduling),
and the [Scheduler HTTP API](https://docs.vmware.com/en/Scheduler-for-VMware-Tanzu/services/scheduler-vmware-tanzu-api/index.html).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Scheduler for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.1.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 21, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x, v1.12.x, v2.0.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s) <sup>*</sup></td>
        <td>v1.11.x, v1.12.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s) <sup>*</sup></td>
        <td>v2.0.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

<sup>*</sup> As of PCF v2.0, Elastic Runtime is renamed to Pivotal Application Service (PAS). 

## <a id="reqs"></a>Requirements

Scheduler for PCF has the following requirements:

+ MySQL for PCF v1.10. The service is available on [Pivotal Network](https://network.pivotal.io/products/p-mysql/).

## <a id="limitations"></a>Limitations

* If your app uses a buildpack that does not generate a `web` process type, such as Ruby or Python, you should do the following:
<br><br>
    1. Before pushing your app, create a [Procfile](https://docs.pivotal.io/pivotalcf/buildpacks/prod-server.html#procfile) in the root directory of the app.
    2. Declare a `web` process type in the file.

    If you do not declare this process type, your app will not be accessible through the cf CLI after you create Scheduler jobs for it.

* The maximum number of tasks that you can schedule is determined by the memory and disk quotas in the Scheduler for PCF org and space. See [Running Tasks](http://docs.pivotal.io/pivotalcf/devguide/using-tasks.html#manage-tasks) for more information.
