---
title: Scheduler
owner: Autoscaler and Scheduler
---


VMware Tanzu Scheduler is a scheduler service exposed as a service broker in the [VMware Marketplace](https://tanzu.vmware.com/developer/guides/an-introduction-to-vmware-marketplace/). App developers use Scheduler to create, schedule, and interact with jobs that execute on VMware Tanzu Application Service. It allows scheduling the execution of Diego tasks (jobs), such as database migrations, emails, or batch jobs, and the execution of outbound HTTP requests (calls).

You can:

* Create jobs to execute tasks (Diego tasks).
* Execute jobs on an ad hoc basis.
* Schedule jobs to execute on a recurring basis.
* View job status and history.

You can interact with the service by using the Cloud Foundry Command Line Interface (cf CLI),
[Apps Manager](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/manage-apps.html#enable-scheduling),
and the [Scheduler HTTP API](https://docs.vmware.com/en/Scheduler-for-VMware-Tanzu/services/scheduler-vmware-tanzu-api/index.html).

## <a id="snapshot"></a>Product snapshot

The following table provides version and version-support information about Scheduler.

<table class="table">
    <thead>
        <tr>
            <th>Element</th>
            <th>Details</th>
        </tr>
    </thead>
    <tr>
        <td>Version</td>
        <td>v2.0.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 19, 2023</td>
    </tr>
    <tr>
        <td>Compatible VMware Tanzu Operations Manager versions</td>
        <td>v2.10 or later</td>
    <tr>
        <td>Compatible Tanzu Application Service versions</td>
        <td>v2.11 or later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Scheduler requires a MySQL database.

You can use either of the following:

+ VMware Tanzu SQL with MySQL for VMs v3.0 or later. In addition, you must choose the MySQL 8.0 option. See [VMware Tanzu SQL with MySQL for VMs](https://docs.vmware.com/en/VMware-SQL-with-MySQL-for-Tanzu-Application-Service/2.10/mysql-for-tas/index.html)
+ An external MySQL v8.0 or later database

## <a id="limitations"></a>Limitations

* If your app uses a buildpack that does not generate a `web` process type,
such as Ruby or Python, you should do the following:
<br><br>
    1. Create a
    [Procfile](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/prod-server.html#procfile)
    in the root directory of the app before pushing it.
    2. Declare a `web` process type in the file.

    If you do not declare this process type, your app is not accessible when using
    the cf CLI after you create Scheduler jobs for it.

* The maximum number of tasks that you can schedule is determined by the memory, disk, and log rate quotas in the Scheduler org and space.
For more information, see [Running tasks](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/5.0/tas-for-vms/using-tasks.html#manage-tasks).
