---
title: Scheduler
owner: Autoscaler and Scheduler
---
This documentation describes Scheduler.

## <a id='overview'></a>Overview

Scheduler is a service for scheduling the execution of Diego tasks (jobs),
such as database migrations, emails, or batch jobs, and the execution of outbound HTTP
requests (calls).

Scheduler enables developers to:

* Create, run, and schedule jobs and view job history.
* Create, run, and schedule calls and view call history.

You can interact with the service by using the Cloud Foundry Command Line Interface (cf CLI),
[Apps Manager](https://docs.pivotal.io/application-service/console/manage-apps.html#enable-scheduling),
and the [Scheduler HTTP API](https://docs.pivotal.io/scheduler/1-6/api/).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Scheduler.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.6.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 21, 2022</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>v2.7 or later</td>
    <tr>
        <td>Compatible Application Service versions</td>
        <td>v2.7 or later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Scheduler requires a MySQL database.

You can use either of the following:

+ VMware Tanzu SQL with MySQL for VMs v2.7 or later. See [VMware Tanzu SQL with MySQL for VMs](https://docs.pivotal.io/p-mysql/index.html)
+ An external MySQL database

## <a id="limitations"></a>Limitations

* If your app uses a buildpack that does not generate a `web` process type,
such as Ruby or Python, you should do the following:
<br><br>
    1. Create a
    [Procfile](https://docs.pivotal.io/application-service/buildpacks/prod-server.html#procfile)
    in the root directory of the app before pushing it.
    2. Declare a `web` process type in the file.

    If you do not declare this process type, your app is not accessible when using
    the cf CLI after you create Scheduler jobs for it.

* The maximum number of tasks that you can schedule is determined by the memory
and disk quotas in the Scheduler org and space.
For more information, see [Running Tasks](https://docs.pivotal.io/application-service/devguide/using-tasks.html#manage-tasks).
