---
title: Installing and Configuring Scheduler for PCF
owner: Pivotal
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }
    .note.warning:before {
        color: #f99;
    }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong> 
The Scheduler for PCF tile is currently in beta and is intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>
This topic describes how to install and configure Scheduler for PCF.

##<a id='prereq'></a> Prerequisites

Before you install the tile, you need to have a MySQL for PCF service plan with a storage quota of 1&nbsp;GB or more that allows at least 40 concurrent connections. 

If you do not already have this plan, see [Add a Plan](https://docs.pivotal.io/p-mysql/index.html#service-plan) in the MySQL for PCF documentation.

-------
REPLACE. SEE ABOVE

1. If one does not exist, Create a `1gb` service plan in the MySQL for PCF tile.
 
  1. Click the **MySQL for PCF** tile. 
 
  1. Click **Service Plans** section.
 
  1. Click **Add**.
 
  1. Enter `1gb` for the **Service Plan Name**.
 
  1. Enter a **Description**.
 
  1. Enter `1000` for a **Storage Quota**.
 
  1. Enter `40` for **Concurrent Connections Quota**.
 
  1. Click **Save**.  
 
  1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to create the 1gb service plan in the MySQL for PCF service.

  --------

##<a id='install'></a> Install and Configure Scheduler for PCF

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of Scheduler for PCF. 
This adds the tile to your staging area.

1. Click the newly added **Scheduler for PCF** tile.

1. Make sure all configuration of network and stemcells is complete.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install Scheduler for PCF tile.
