---
title: Installing and Configuring Scheduler for PCF
owner: PCF Autoscaler and Scheduler
---

This topic describes how to install and configure Scheduler for Pivotal Cloud Foundry (PCF).

##<a id='prereqs'></a> Prerequisites

Before you install the Scheduler for PCF tile, you need to configure a MySQL for PCF service plan. The minimum resource configuration of the MySQL plan requires the following:

  * Service plan name: 1gb
  * Storage quota: 1,000 MB
  * Concurrent connections quota: 40

For more information, see [Add a Plan](https://docs.pivotal.io/p-mysql/index.html#service-plan) in the MySQL for PCF documentation.

## <a id="download-install"></a> Download and Install Scheduler for PCF

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/p-scheduler-for-pcf).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of Scheduler for PCF. 
  This adds the tile to your staging area.

1. Click the newly added **Scheduler for PCF** tile.

## <a id="config-tile"></a> Configure Scheduler for PCF

Follow the steps below to configure the Scheduler for PCF tile.

###<a id="azs"></a> Configure AZs and Networks

Follow the steps below to choose an Availability Zone (AZ) to run the Scheduler Service Broker and to select networks.

1. Click **Assign AZs and Networks**.

1. Configure the fields as follows:

    <table class="nice">
      <tr>
        <th>Field</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><strong>Place singleton jobs in</strong></td>
        <td>Select the AZ for executing the Scheduler Errands. All Scheduler components execute as apps and do not require VMs.</td>
      </tr>
      <tr><td><strong>Balance other jobs in</strong></td>
          <td>Ignore this field.</td>
      </tr>
      <tr>
        <td><strong>Network</strong></td>
        <td>Select a subnet for the Scheduler Errands. Use the subnet that includes the Elastic Runtime component VMs.</td>
      </tr>
    </table>

    <p class="note"><strong>NOTE</strong>: The network selected is used only by Errand VMs and does not apply to the Scheduler runtime.</p>

1. Click **Save**.

###<a id="scheduler-config"></a> Configure Scheduler Options

1. Click **Scheduler Configuration**.

1. Configure the fields as follows:

    <table class="nice">
      <tr>
        <th>Field</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><strong>Enable outbound HTTP calls</strong></td>
        <td>The field is enabled by default. Disable this feature if you want to prevent users from scheduling outbound HTTP calls from the Scheduler for PCF service.</td>
      </tr>
      <tr>
        <td><strong>MySQL Service Plan Name</strong></td>
        <td>Enter the name of your MySQL for PCF service plan, which is used to provision a database for persistent storage of Scheduler data, including jobs, calls, and history.</td>
      </tr>
    </table>
1. Click **Save**.

###<a id="resources"></a> Verify Resource Config

1. Click **Resource Config**.

1. Verify the settings.  

1. Click **Save**.

###<a id="stemcell"></a> Verify Stemcell Version

1. Click **Stemcell**.

1. Verify the settings. If you need to import a new stemcell version, see the _Download Stemcell_ section for your IaaS:
   [AWS](https://docs.pivotal.io/pivotalcf/customizing/cloudform-er-config.html#stemcell),
   [Azure](https://docs.pivotal.io/pivotalcf/customizing/azure-er-config.html#stemcell), 
   [GCP](https://docs.pivotal.io/pivotalcf/customizing/gcp-er-config.html#stemcell), or
   [vSphere](https://docs.pivotal.io/pivotalcf/customizing/config-er-vmware.html#stemcell).

1. Click **Save**.

1. <a name="apply-changes"></a>Return to the Ops Manager Installation Dashboard and click **Apply Changes**.
