---
title: Installing and Configuring Pivotal Scheduler
owner: Pivotal Autoscaler and Scheduler
---

This topic describes how to install and configure Pivotal Scheduler.

##<a id='prereqs'></a> Prerequisites

Before you install Pivotal Scheduler v1.2, you must have one of the following:

+ A MySQL for Pivotal Platform v2.3 or later tile with **TLS Options** set to **Optional** or **Not Configured**. To download MySQL for Pivotal Platform, see [MySQL for Pivotal Platform](https://network.pivotal.io/products/pivotal-mysql/) on Pivotal Network. For information about installing MySQL for Pivotal Platform, see [Installing and Configuring MySQL for Pivotal Platform](https://docs.pivotal.io/p-mysql/2-7/install-config.html). For information about configuring TLS options, see [Configure Security](https://docs.pivotal.io/p-mysql/install-config.html#security).

+ An external MySQL database with TLS disabled.

<p class="note"><strong>Note:</strong> Pivotal Scheduler is compatible with MariaDB and MySQL for Pivotal Platform. The compatibility of other MySQL alternatives with Pivotal Scheduler is not tested or guaranteed.</p>

## <a id="download-install"></a> Download and Install Pivotal Scheduler

<p class="note"><strong>Note:</strong> Before using Pivotal Scheduler v1.2.3 and later, you must update any BOSH add-ons to support Xenial stemcells. See <a href="./upgrade_scheduler.html#update-addons">Update Add-ons to Run with Xenial Stemcell</a>.</p>

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/p-scheduler-for-pcf).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of Pivotal Scheduler. 
  This adds the tile to your staging area.

1. Click the newly added **Pivotal Scheduler** tile.

## <a id="config-tile"></a> Configure Pivotal Scheduler

Follow the steps below to configure the Pivotal Scheduler tile.

###<a id="azs"></a> Configure AZs and Networks

Follow the steps below to choose an Availability Zone (AZ) to run the Scheduler Service Broker and to select networks.

1. Click **Assign AZs and Networks**.

1. Configure the fields as follows:

    <table class="nice">
      <tr>
        <th>Field</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><strong>Place singleton jobs in</strong></td>
        <td>Select the AZ for executing the Scheduler Errands. All Scheduler components execute as apps and do not require VMs.</td>
      </tr>
      <tr><td><strong>Balance other jobs in</strong></td>
          <td>Ignore this field.</td>
      </tr>
      <tr>
        <td><strong>Network</strong></td>
        <td>Select a subnet for the Scheduler Errands. Use the subnet that includes the Elastic Runtime component VMs.</td>
      </tr>
    </table>

    <p class="note"><strong>NOTE</strong>: The network selected is used only by Errand VMs and does not apply to the Scheduler runtime.</p>

1. Click **Save**.

###<a id="scheduler-config"></a> Configure Scheduler Options

1. Click **Scheduler Configuration**.

1. Configure the fields as follows:

    <table class="nice">
      <tr>
        <th>Field</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><strong>Enable outbound HTTP calls</strong></td>
        <td>The field is enabled by default. Disable this feature if you want to prevent users from scheduling outbound HTTP calls from the Pivotal Scheduler service.</td>
      </tr>
      <tr>
        <td><strong>Name</strong></td>
        <td>Enter the name of your MySQL service broker. For example, <code>p.mysql</code>.</td>
      </tr>
      <tr>
        <td><strong>Plan Name</strong></td>
        <td>Enter the name of your MySQL service plan, which is used to provision a database for persistent storage of Scheduler data, including jobs, calls, and history.</td>
      </tr>
      </table>

1. Click **Save**.

###<a id="resources"></a> Verify Resource Config

1. Click **Resource Config**.

1. Verify the settings.  

1. Click **Save**.

###<a id="stemcell"></a> Verify Stemcell Version

To verify that you have the correct stemcell version for the Pivotal Scheduler tile, do the following:

1. Click **Stemcell**.

1. Verify the settings.

    Pivotal Scheduler v1.2.3 and later requires a Xenial stemcell. Pivotal Scheduler v1.2.2 and earlier requires a Trusty stemcell.
    If you need to import a new stemcell version, do the following:  

1. Download the stemcell from [Pivotal Network](https://network.pivotal.io/products).
   
1. In the Ops Manager, click **Stemcell Library**.

    <br>![Stemcell Library](stemcell-library-xenial.png)

1. Click **Import Stemcell**, and then select the stemcell you downloaded from Pivotal Network.

1. Click **Save**.

1.  <a name="apply-changes"></a> Return to the Ops Manager Installation Dashboard.

1. If you are using Ops Manager v2.3 or later,  click **Review Pending Changes**. 
For more information about this Ops Manager page, 
see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

1. Click **Apply Changes**.
