---
title: Monitoring Scheduler for PCF
owner: PCF Autoscaler and Scheduler
---

This topic describes the logs and metrics you can use to monitor the health and performance of Scheduler for Pivotal Cloud Foundry (PCF). For general information about logging and metrics in PCF, see [Logging and Metrics](http://docs.pivotal.io/pivotalcf/loggregator/index.html).

## <a id="metrics"></a>Scheduler Metrics

Scheduler for PCF emits metrics to Loggregator if the `metrics-forwarder` service is bound to the `scheduler` app in the `system` org and `p-scheduler` space.

Scheduler for PCF emits the following metrics:

| **Data Source** | **Description** | **Metric Unit** |
| --- | --- | --- |
| `gauge.scheduler.jobs.executed` | The number of jobs Scheduler has executed. | Integer |
| `gauge.scheduler.jobs.failed` | The number of jobs Scheduler failed to execute. | Integer |
| `gauge.scheduler.jobs.rejected` | The number of jobs Scheduler requested the Cloud Controller to execute but failed to start a task. | Integer |
| `gauge.scheduler.jobs.total` | The number of jobs that currently exists in Scheduler. | Integer |
| `gauge.scheduler.calls.executed` | The number of calls Scheduler has executed.  | Integer |
| `gauge.scheduler.calls.failed` | The number of calls Scheduler failed to execute. | Integer |
| `gauge.scheduler.calls.total` | The number of calls that currently exists in Scheduler. | Integer |

<p class="note"><strong>Note:</strong> Metrics Forwarder for PCF has been deprecated and cannot be installed in PAS v2.5 and higher. This functionality will be unavailable after upgrading to PAS 2.5 and higher. Upgrading to PAS 2.5 will not impact the reliability or health of Scheduler for PCF.</p>
