---
title: Monitoring Scheduler for PCF
owner: PCF Autoscaler and Scheduler
---

This topic describes the logs and metrics you can use to monitor the health and performance of Scheduler for Pivotal Cloud Foundry (PCF).

For general information about logging and metrics in PCF, see [Logging and Metrics](http://docs.pivotal.io/pivotalcf/loggregator/index.html).

## <a id="metrics"></a>Scheduler Metrics

Scheduler for PCF emits metrics to Loggregator if the `metrics-forwarder` service is bound to the `scheduler` app in the `system` org and `p-scheduler` space.

Scheduler for PCF emits the following metrics:

| **Data Source** | **Description** | **Metric Unit** |
| --- | --- | --- |
| `guage.scheduler.jobs.executed` | The number of jobs the Scheduler execute and resulted in a failed status. | Integer |
| `guage.scheduler.jobs.failed` | The number of jobs the Scheduler failed to execute. | Integer |
| `guage.scheduler.jobs.rejected` | The number of jobs the Scheduler requested Cloud Controller execute but failed to start a task. | Integer |
| `guage.scheduler.jobs.total` | The number of jobs that currently exist in the Scheduler. | Integer |
| `guage.scheduler.calls.executed` | The number of calls the Scheduler has executed.  | Integer |
| `guage.scheduler.calls.failed` | The number of calls the Scheduler execute and resulted in a failed status. | Integer |
| `guage.scheduler.calls.total` | The number of calls that currently exist in the Scheduler. | Integer |
