---
breadcrumb: PCF Services
title: Migrating to a MySQL for PCF v2 Database for use with PCF Scheduler
---

This topic explains how Scheduler for PCF performs the migration from a MySQL for PCF v1 database to a MySQL for PCF v2 database.
Doing this migration reduces dependency on MySQL for PCF v1 as users move to MySQL for PCF v2.

##<a id="Prerequisites"></a>Prerequisites

1. Ensure that you have the following:
  + An existing MySQL for PCF v1.x service instance with the data you want to migrate
  + Scheduler for PCF v1.1

1. (Optional) Back up the MySQL for PCF v1 database that is currently being used by your Scheduler for PCF v1.1 tile.
	<p class="note"><strong>Note:</strong> Pivotal recommends backing up the MySQL for PCF v1 database before installing Scheduler for PCF v1.2. This is because upgrading your Scheduler for PCF installation from v1.1 to v1.2 will trigger automatic migration of your data to a MySQL v2 database. For information on performing the backup, see [Perform Manual Backup](http://docs.pivotal.io/p-mysql/1-10/backup.html#manual-process).</p>

##<a id="migrate"></a>Migrating Your Data

To migrate to a MySQL for PCF v2 database, do the following:

1. Install MySQL for PCF v2.x in the same PCF environment as your PCF v1.x service instance. 
For more information on installing MySQL for PCF v2.x, see [Download and Install the Tile](http://docs.pivotal.io/p-mysql/2-3/install-config.html#install).
1. Upgrade Scheduler for PCF to v1.2 with all errands enabled.
	<p class="note"><strong>Note:</strong> All <strong>Post-Deploy Errands</strong> must be enabled to successfully migrate from a MySQL for PCF v1 database to MySQL for PCF v2 database. These settings are found in the Scheduler for PCF <strong>Errands</strong> pane of Ops Manager. 

During the upgrade, Scheduler for PCF will detect your MySQL v1 service binding.
It will then automatically migrate the MySQL for PCF v1 database instance to a MySQL for PCF v2 instance.
The errand will migrate the database and execute smoke tests. When the migration has completed successfully, the errand automatically removes the previous service binding to the MySQL for PCF v1 instance.

##<a id="new-install"></a>Database Creation with new installations of Scheduler for PCF v1.2
If you are newly installing Scheduler for PCF v1.2 and you do not have an existing MySQL for PCF database, no migration is necessary because Scheduler for PCF is configured to create the MySQL for PCF v2 instance.

If you have the MySQL for PCF v2 tile installed and you install Scheduler for PCF v1.2--and configure it to use a service broker database source--it creates a MySQL for PCF v2 database instance, which it uses as the database source.

##<a id="troubleshooting"></a>Troubleshooting
_"I installed Scheduler for PCF v1.2, but my data is still using my MySQL for PCF v1 database and service bindings."_

If you have Scheduler for PCF v1.1 installed with a MySQL for PCF v1 database, but **DO NOT** install the MySQL for PCF v2 tile prior installing the Scheduler for PCF v1.2 tile, you will encounter this scenario.

Scheduler for PCF v1.2 will continue to use your existing MySQL for PCF v1 database and service bindings unless you install the MySQL for PCF v2 tile and (Insert Errand Trigger instructions here), allowing it to migrate your data automatically.
