---
title: Scheduler Release Notes
owner: Autoscaler and Scheduler
---

This topic contains release notes for VMware Tanzu Scheduler v2.0.

## <a id='releases'></a> Releases

### <a id="2-0"></a> v2.0

**Release Date:** November 7, 2023

- **[Dependency Bump]** Update Go to v1.20.7
- **[Dependency Bump]** Update Spring Boot to v3.1.5

## <a id="breaking-changes"></a> Breaking changes in Scheduler v2.0

This release has the following breaking changes:

* **Stemcell version:** Scheduler v2.0 requires the Jammy stemcell rather than Xenial
* **MySQL version:** Scheduler v2.0 contains Spring Boot v3.1.5 and thus requires a MySQL v8.0 database 
* **Java buildpack version:** Scheduler v2.0 contains Java 17 and thus requires Java Buildpack v4.42 or later

## <a id="view"></a> View Release Notes for another version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
