---
title: Scheduler release notes
owner: Autoscaler and Scheduler
---

This topic contains release notes for Scheduler for VMware Tanzu v2.0.

## <a id='releases'></a> Releases

### <a id="2-0-6"></a> v2.0.6

**Release date:** March 8, 2024

* **[Security fix]** Update dependencies.
* **[Bug Fix]** Fix Scheduler CLI plug-in to not dynamically link to c libraries. Allows running on more platforms.

### <a id="2-0-5"></a> v2.0.5

**Release date:** February 23, 2024

* **[Security fix]** Update dependencies.

### <a id="2-0-4"></a> v2.0.4

**Release date:** January 23, 2024

* **[Bug fix]** Update Scheduler CLI to allow for setting unlimited log rate limit.

### <a id="2-0-3"></a> v2.0.3

**Release date:** January 18, 2024

* **[Security fix]** Update dependencies.

### <a id="2-0-2"></a> v2.0.2
**Release date:** December 19, 2023

* **[Bug fix]** Fix and improve database migration for upgrading from older scheduler versions.
* **[Bug fix]** Allow specifying log rate limit for jobs.
* **[Bug fix]** Add job limits to cli output.
* **[Security fix]** Update dependencies.

### <a id="2-0-1"></a> v2.0.1

**Release date:** December 4, 2023

* **[Bug fix]** allow changing the p.mysql plan
* **[Bug fix]** Update mysql instance if the plan has changed
* **[Bug fix]** add database migration for upgrading from older scheduler versions

### <a id="2-0"></a> v2.0

**Release date:** November 7, 2023

- **[Dependency bump]** Update Go to v1.20.7.
- **[Dependency bump]** Update Spring Boot to v3.1.5.

## <a id="breaking-changes"></a> Breaking changes in Scheduler v2.0

This release has the following breaking changes:

* **Stemcell version:** Scheduler v2.0 requires the Jammy stemcell rather than Xenial.
* **MySQL version:** Scheduler v2.0 contains Spring Boot v3.1.5 and thus requires a MySQL v8.0 database.
* **Java buildpack version:** Scheduler v2.0 contains Java 17 and thus requires Java Buildpack v4.42 or later.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from
the drop-down menu at the top of this page.
