---
title: Scheduler Release Notes
owner: Autoscaler and Scheduler
---

This topic contains release notes for Scheduler v1.6.0.

## <a id='releases'></a> Releases

### <a id="1-6-0"></a> v1.6.0

**Release Date:** November 17, 2021

- **[Bug Fix]** Update Go to v1.17 (see Breaking Changes below)
- **[Bug Fix]** Update Spring Boot to v2.5.4
- **[Bug Fix]** Prevent duplicate jobs from scheduling with a new configuration: "Acquire triggers within a lock".
- **[Bug Fix]** Scheduler no longer fails to deploy on Ops Manager v2.10.19 and later.

## <a id="breaking-changes"></a> Breaking Changes in Scheduler v1.6.0

This release has the following breaking change:

* **macOS cf CLI plugin:** Scheduler v1.6.0 bumps Go to v1.17. The cf CLI plugin requires macOS 10.13 High Sierra or later.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
