---
title: Scheduler Release Notes
owner: Autoscaler and Scheduler
---

This topic contains release notes for Scheduler v1.4.0.

## <a id='releases'></a> Releases

### <a id="1-4-0"></a> v1.4.0

**Release Date:** October 30, 2020

- **[Security Fix]** Updated dependencies to mitigate CVE
- **[Bug Fix]** Scheduling actions now take place in transactions.
- **[Bug Fix]** Improved error handling when deleting service instances

## <a id="database-transactions"></a> Database Transactions in Scheduler v1.4.0

Scheduler v1.4.0 includes a significant change to its operation: database
transactions. Scheduler's database has several interdependent tables; in
previous releases, it was possible under certain circumstances for records in
those tables to go out of sync. This could result in jobs that did not run and
could not be deleted.  Now, with database transactions enabled, the tables will
stay in sync.

An implication of this change is that the scheduler may have a delay of up to 5 seconds
before executing a job or call. This is because the creation of the scheduled job
occurs within a transaction that is not yet visible to the scheduling thread.

## <a id="stemcell-line-bumped"></a> Stemcell line bumped to 621

This release bumps the minimum stemcell version from 456.x to 621.90. In addition we now
specify a minimum patch version for the stemcell.

## <a id="known-issues"></a> Known Issues

- Scheduler v1.4.0 fails when an attempt is made to delete a service key created against
  a scheduler service instance.

## <a id="breaking-changes"></a> Breaking Changes in Scheduler v1.4.0

Scheduler v1.4.0 includes the following breaking change:

### <a id='metadata-path'></a> Metadata path within product has changed

The path to the tile metadata within the product has changed from `metadata/p_scheduler.yml`
to `metadata/metadata.yml`. This is an internal implementation detail, however if you
have built automation that relies on the previous path of the metadata within the tile
it will need to be updated.

This change should not affect most users of the scheduler.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
