---
title: Scheduler Release Notes
owner: Autoscaler and Scheduler
---


This topic contains release notes for Scheduler.

## <a id="1-2-33"></a>v1.2.33

**Release Date:** May 27, 2020

### Features included in this release:

- **Security Fix** a Swagger CVE is addressed
- **Feature Improvement** the service broker supports using TLS on database connection when using MySQL service
- **Bug Fix** smoke tests should not take so long when fetching logs
- **Bug Fix** deployment errand should fail when `cf push` fails
- **Bump** Go to 1.14.2

### Known Issues

- The Scheduler CLI does not handle paging properly for some endpoints.
  For example, if a user runs `cf jobs` they may not see all the jobs; only the first page of jobs are shown.

## <a id="1-2-30"></a>v1.2.30

**Release Date:** October 15, 2019

### Features included in this release:

New features and changes in this release:

* Security fixes
* Additional smoke tests

### Known Issues

There are no known issues for this release.

## <a id="1-2-28"></a>v1.2.28

**Release Date:** September 09, 2019

### Features included in this release:

New features and changes in this release:

* Fix version number inconsistency
* Bumped CF CLI to v6.45.0
* Removed job to automatically create Metrics Forwarder service binding
* Added ability to enable tracing of external service calls to aid in debugging
* Improved granularity of smoke tests

### Known Issues

There are no known issues for this release.

## <a id="1-2-27"></a>v1.2.27

**Release Date:** July 30, 2019

### Features included in this release:

New features and changes in this release:

* Bumped CF CLI to v6.45.0
* Removed job to automatically create Metrics Forwarder service binding
* Added ability to enable tracing of external service calls to aid in debugging
* Improved granularity of smoke tests

### Known Issues

There are no known issues for this release.

## <a id="1-2-25"></a>v1.2.25

**Release Date:** April 22, 2019

### Features included in this release:

New features and changes in this release:

* Enable MySQL native passwords and accept usernames with @ symbols for better Azure support.

### Known Issues

There are no known issues for this release.

## <a id="1-2-23"></a>v1.2.23

**Release Date:** February 21, 2019

### Features included in this release:

New features and changes in this release:

* Fixed issue: Scheduler cannot install in an internetless environment
* Scheduler dependencies are pre-compiled and no longer fetched at install.

### Known Issues

There are no known issues for this release.

## <a id="1-2-5"></a>v1.2.5

**Release Date:** December 6, 2018

<p class="note breaking"><strong>Breaking Change</strong>: Any automated
  process that updates Pivotal Scheduler breaks if the deployment has TLS
  enabled on the MySQL database. For information about configuring TLS in
  MySQL for Pivotal Platform,
  see <a href="https://docs.pivotal.io/p-mysql/2-5/install-config.html#security">Configure Security</a>.

</p>

### Features included in this release:

New features and changes in this release:

* Updated OpenJDK
* Updated MariaDb Connector

### Known Issues

* Scheduler cannot install in an internetless environment.

## <a id="1-2-3"></a>v1.2.3

**Release Date:** September 24, 2018

### Features included in this release:


<p class="note breaking"><strong>Breaking Change</strong>: Any automated
  process that updates Pivotal Scheduler might break if the deployment does not
  use a Xenial stemcell.
</p>

The new feature in this release:

* Pivotal Scheduler v1.2.3 and later requires a Xenial stemcell.
  - To download a Xenial stemcell from Pivotal Network,
go to <a href="https://network.pivotal.io/products/stemcells-ubuntu-xenial">
  Stemcells for Pivotal Platform (Ubuntu Xenial)</a>.
  For more information about updating BOSH add-ons and importing the
  stemcell, see <a href="./installing.html">Installing and Configuring Pivotal Scheduler</a>.

### Known Issues

There are no known issues for this release.


## <a id="1-2-0"></a>v1.2.0

**Release Date:** July 5, 2018

### Features included in this release:

The new feature in this release:

+ The API for Pivotal Scheduler now includes ability to retrieve all schedules for jobs in a space.
For information, see the [Pivotal Scheduler API docs](http://docs.pivotal.io/scheduler/1-2/api/).

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
