---
title: Release Notes
owner: PCF Autoscaler and Scheduler
---

This topic contains release notes for Scheduler for Pivotal Cloud Foundry (PCF).

## <a id="1-1"></a>v1.1.0

**Release Date:** October 16, 2017

### Features included in this release:

* Users can do the following:
	* Create jobs
	* Run jobs
	* Schedule jobs
	* List job history
	* Create calls
	* Run calls
	* Schedule calls
	* List call history
* Internal credentials are stored in BOSH CredHub. If you want to access these credentials, you must use the CredHub CLI or the Ops Manager API instead of the **Credentials** tab of the Scheduler tile. For instructions on how to to retrieve Scheduler credentials, see [Retrieving Credentials from Your Deployment](https://docs.pivotal.io/pivotalcf/customizing/credentials.html).

### Changes in this release:

* Scheduler for PCF supports all available MySQL for PCF plans.
* HTTP calls can be disabled in the Scheduler for PCF tile.

### Known issues in this release:

* Scheduler for PCF provides only one service plan, `standard`, which allows you to schedule as many tasks and calls as needed and at any interval.

## <a id="1-0-4"></a>v1.0.4

**Release Date:** August 11, 2017

### Features included in this release:

* Create jobs.
* Run jobs.
* Schedule jobs.
* List job history.

### Changes in this release:

* Scheduler for PCF supports floating stemcells in 3363 version line.

### Known issues in this release:

* Users must have a `p-mysql` service plan named `1gb` with at least 1,000 MB of disk space.
* Scheduler for PCF provides only one service plan, `standard`, which allows you to schedule as many tasks as needed and at any interval.

## <a id="1-0-2"></a>v1.0.2

**Release Date:** April 19, 2017

### Features included in this release:

* Create jobs.
* Run jobs.
* Schedule jobs.
* List job history.

### Known issues in this release:

* Users must have a `p-mysql` service plan named `1gb` with at least 1,000 MB of disk space.
* Scheduler for PCF provides only one service plan, `standard`, which allows you to schedule as many tasks as needed and at any interval.
