---
breadcrumb: PCF Services
title: Upgrading to Pivotal Scheduler v1.3
---
This topic explains how to upgrade Pivotal Scheduler.

##<a id="backup"></a>(Optional) Back Up MySQL for Pivotal Platform Database

Pivotal recommends backing up your MySQL for Pivotal Platform database before installing Pivotal Scheduler v1.3.

To back up your MySQL for Pivotal Platform database, see [Manual Backup](https://docs.pivotal.io/p-mysql/backup-and-restore.html#manual-backup).

##<a id="upgrade-tile"></a>Upgrade Pivotal Scheduler to v1.3 with all errands enabled.

For general information about upgrading a tile, see [Upgrading PCF Products](https://docs.pivotal.io/pivotalcf/customizing/upgrading-products.html#other-products).

	<p class="note"><strong>Note:</strong> All <strong>Post-Deploy Errands</strong> must be enabled
    to migrate from a MySQL for PCF v1.x database to MySQL for Pivotal Platform v2.x database.
	These settings are in the Pivotal Scheduler <strong>Errands</strong> pane of
    the Pivotal Scheduler tile.</p>
