---
breadcrumb: PCF Services
title: Upgrading to Scheduler for PCF v1.2
---
This topic explains how to upgrade Scheduler for PCF. It also explains
how Scheduler for PCF v1.2 automatically migrates data from a MySQL for PCF v1 database 
to a MySQL for PCF v2 database. This migration reduces dependency on MySQL for PCF v1.

##<a id="Prerequisites"></a>Prerequisites

1. Ensure that you have the following:
  + Scheduler for PCF v1.1
  + A MySQL for PCF v1.x service instance with the data you want to migrate

1. (Optional) Back up the MySQL for PCF v1 database that is currently being used by your Scheduler for PCF v1.1 tile.
	<p class="note"><strong>Note:</strong> Pivotal recommends backing up the MySQL for PCF v1 database before installing Scheduler for PCF v1.2.
           This is because upgrading your Scheduler for PCF installation from v1.1 to v1.2 triggers automatic migration of your data to a MySQL for PCF v2 database.
           For information about performing the backup, see [Perform Manual Backup](http://docs.pivotal.io/p-mysql/1-10/backup.html#manual-process).</p>

##<a id="upgrade_scheduler"></a>Upgrade to Scheduler for PCF v1.2

During upgrade, Scheduler for PCF automatically migrates your data from 
MySQL for PCF v1 to MySQL for PCF v2 if you have have the MySQL for PCF v2 tile installed.

To upgrade from Scheduler for PCF v1.1.x to v1.2.x, do the following:

1. Install MySQL for PCF v2.2 or later in the same PCF environment as 
your MySQL for PCF v1.x service instance. 
For information about installing MySQL for PCF v2.x, see [Download and Install the Tile](http://docs.pivotal.io/p-mysql/install-config.html#install).

1. Upgrade Scheduler for PCF to v1.2 with all errands enabled. For general information about upgrading
a tile, see [Upgrading PCF Products](https://docs.pivotal.io/pivotalcf/customizing/upgrading-products.html#other-products).

	<p class="note"><strong>Note:</strong> All <strong>Post-Deploy Errands</strong> must be enabled 
    to migrate from a MySQL for PCF v1 database to MySQL for PCF v2 database. 
	These settings are in the Scheduler for PCF <strong>Errands</strong> pane of 
    the Scheduler for PCF tile.</p> 

    During the upgrade, Scheduler for PCF detects your MySQL for PCF v1 service binding.
    It then automatically migrates the MySQL for PCF v1 database instance to a 
    MySQL for PCF v2 instance.
    The errand migrates the database and executes smoke tests.
    When the migration has completed successfully, the errand removes the service binding to the MySQL for PCF v1 instance.

##<a id="migrate_later"></a>Migrate after Upgrading Scheduler for PCF 

If you upgrade Scheduler for PCF without the MySQL for PCF v2 tile installed, 
Scheduler for PCF v1.2 continues to use the MySQL for PCF v1 database and service bindings. 

To migrate your data and service bindings to the MySQL for PCF v2 instance:

1. Install the MySQL for PCF v2 tile.
1. Set all post-deploy errands to **On**.
1. If you are using Ops Manager v2.3 or later,  click **Review Pending Changes**. 
For more information about this Ops Manager page, 
see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).
1. Click **Apply Changes**.
