---
breadcrumb: PCF Services
title: Upgrading to Tanzu Scheduler v2.0
---


This topic explains how to upgrade VMware Tanzu Scheduler.

##<a id="backup"></a>(Optional) Back up VMware Tanzu SQL with MySQL for VMs database

VMware recommends backing up your VMware Tanzu SQL with MySQL for VMs database before installing Scheduler v2.0

To back up your VMware Tanzu SQL with MySQL for VMs database, see [Manual Backup](https://docs.vmware.com/en/VMware-SQL-with-MySQL-for-Tanzu-Application-Service/2.10/mysql-for-tas/index.html#manual-backup).

Ensure VMware Tanzu SQL with MySQL for VMs is version 3.0 or later and is configured to use MySQL v8.0. You can read about how to configure MySQL for VMs with MySQL v8.0 [here](https://docs-staging.vmware.com/en/Scheduler-for-VMware-Tanzu/2.0/scheduler-vmware-tanzu/GUID-upgrade_scheduler.html)

##<a id="upgrade-tile"></a>Upgrade Scheduler to v2.0 with all errands enabled.

For general information about upgrading a tile, see [Upgrading Tanzu Operations Manager Products](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-upgrading-products.html#other-products).

<p class="note important">
<span class="note__title">Important</span>
All <strong>Post-Deploy Errands</strong> must be enabled
to migrate from a MySQL for PCF v1.x database to VMware Tanzu SQL with MySQL for VMs v2.x database.
These settings are in the Scheduler <strong>Errands</strong> pane of
the Scheduler tile.</p>
