---
breadcrumb: PCF Services
title: Upgrading to Scheduler v1.6
---
This topic explains how to upgrade Scheduler.

##<a id="backup"></a>(Optional) Back Up VMware Tanzu SQL with MySQL for VMs Database

VMware recommends backing up your VMware Tanzu SQL with MySQL for VMs database before installing Scheduler v1.6.

To back up your VMware Tanzu SQL with MySQL for VMs database, see [Manual Backup](https://docs.vmware.com/en/VMware-SQL-with-MySQL-for-Tanzu-Application-Service/2.10/mysql-for-tas/index.html#manual-backup).

##<a id="upgrade-tile"></a>Upgrade Scheduler to v1.6 with all errands enabled.

For general information about upgrading a tile, see [Upgrading Tanzu Operations Manager Products](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-upgrading-products.html#other-products).

<p class="note"><strong>Note:</strong> All <strong>Post-Deploy Errands</strong> must be enabled
to migrate from a MySQL for PCF v1.x database to VMware Tanzu SQL with MySQL for VMs v2.x database.
These settings are in the Scheduler <strong>Errands</strong> pane of
the Scheduler tile.</p>
