---
title: Scheduler for PCF API
owner: PCF Autoscaler and Scheduler
---

This topic provides information about using Scheduler for Pivotal Cloud Foundry (PCF) HTTP API. 

You can interact with the service through the Cloud Foundry Command Line Interface (cf CLI) tool or the [Apps Manager](http://docs.pivotal.io/pivotalcf/console/dev-console.html) UI.

For general information, see [Managing Service Instances with the cf CLI](http://docs.pivotal.io/devguide/services/managing-services.html). 

## <a id="prereqs"></a>Prerequisites

* A PCF installation with [Scheduler for PCF](https://network.pivotal.io/products/p-scheduler-for-pcf) installed and listed in the [Marketplace](http://docs.pivotal.io/devguide/services/#instances)
* A [Space Developer](http://docs.pivotal.io/pivotalcf/concepts/roles.html#roles) account

## <a id='api'></a>Using the HTTP API to interact with Jobs and Calls


The following API documentation describes all the endpoints available to configure jobs and calls as well as to review history.

<a href="https://docs.pivotal.io/pcf-scheduler/api">Scheduler HTTP API</a>


